h1 {
    background-color: transparent;
    font-style: $font-h1;
    text-align: $align-primario;
    border-style:$border-style;
    border-width: $border-width;
}

div {
    font-style: $font-div;
}

.container-one {
    background-color: $color-secundario;
    grid-template-areas: div;
}

p {
    border-style: $border-style;
    border-width: $border-width;
    background-color: $color-terciario;
    text-align: $align-primario;
    transition: all 2s;
    animation-duration: 3s;
    animation-name: slidein;
}

p:hover {
  height: 120px;
  background-color: rgb(250, 156, 200);
  filter: opacity(.8);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

img {
    max-width: $img-max-width;
    height: $img-height;
    transform: all;
}

img:hover {
  transform: scale(0.9);
  filter: blur(2px)
}

nav :hover{
 color: $color-nav;
   ul {
    list-style-type: $list-style-one;
    } 
 }


 .offcanvas-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
 }

 .offcanvas-title {
  color: pink;
 }
.nav-link {
  color: pink;
}
 .dropdown-item {
  color: pink;
 }

 .navbar-toggler-icon {
    background-color: $color-nav;
 }
.presentacion {
    justify-self: $align-primario;
    align-self:$align-primario;
}
ol.contacto {
    float: $align-secundario;
    list-style: $list-style-two;
}
h2 {
   text-align: $align-primario;
}
@mixin grid-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-grid-contacto {
    @include grid-column;
    gap: $gap-two;
}

.primer-grid {
    display: grid;
    grid-template-rows: $column-row-one;
}

.nos-columna {
    display: grid;
    grid-template-columns: $column-row-two;
    justify-items: $align-primario;
    gap: $gap-one;
}
.qui-columna {
    display: grid;
    grid-template-columns: $grid-columns-one;
    grid-template-rows: $column-row-one;
    justify-items: $align-primario;
}
.flex-item {
    display: flex;
    justify-content: $align-primario;
    flex-direction: row;
    align-items: $align-primario;
    flex-wrap: wrap;
}

.pro-columna {
    @include grid-column;
    text-align: $align-primario;
    align-items: $align-primario;
}



@media (max-width: 700px) {
   body {
      font-size: $font-size-one;
      background-size: $background-size-one;
    }
  img {
    display: flex;
    flex-direction: row;
    align-items: $align-primario;
    background-size: $background-size-two;
    flex: $flex-one;
    max-width: $img-max-width-mq;
    flex-wrap: wrap;
  }
  p {
    font-size: $font-size-one;
    display: flex;
    flex-direction: row;
    flex: $flex-one;
    flex-wrap: wrap;
    align-items: $align-primario;
    justify-content: $align-primario;
  }

 p:hover {
  height: 150%;
  filter: none;
 }
  nav ul  {
    width: $column-row-one;
  }

  .container-grid-contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .nos-columna {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: $align-primario;
  }
  .qui-columna {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pro-columna {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: $align-primario;
  }

}

@media (min-width: 700px) and (max-width: 1200px){
  body {
    font-size: $font-size-one;
    background-size: $background-size-one;
  }
img {
  display: flex;
  flex-direction: row;
  align-items: $align-primario;
  background-size: $background-size-two;
  flex: $flex-one;
  max-width: $img-max-width-mq;
  flex-wrap: wrap;
}
p {
  font-size: $font-size-one;
  display: flex;
  flex-direction: row;
  flex: $flex-one;
  flex-wrap: wrap;
  align-items: $align-primario;
  justify-content: $align-primario;
}
nav ul  {
  width: $column-row-one;
}
.container-grid-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.nos-columna {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: $align-primario;
}
.qui-columna {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.pro-columna {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: $align-primario;
}
}  