$column-row-one: auto;
$column-row-two: auto auto;
$column-row-three: 1fr 1fr;
$img-max-width: 20cm;
$img-height: 10cm;
$grid-columns-one: 50% 50%;
$font-size-one: small;
$background-size-one: 50%;
$img-max-width-mq: 100%;
$flex-one: 100%;
$background-size-two: contain;
$gap-one: 1em;
$gap-two: 20px;